html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/general.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Manager Ebooks
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/user') Users
                    li.nav-item
                        a.nav-link(href='/product') Products
                    li.nav-item
                        a.nav-link(href='/transfer') Transfers
            p= user? user.name:''

        .container.pt-5
            block content