extends layouts/header
block content
    h1 Tran The Bao
    p @baotran
    a(href="/user", title="Xem danh sách") Tham khao tai day
    p #{title}
    p #{message}
    img(src="/images/logo-bao6.png", alt="My logo")